h2{
    color: dodgerblue;
}
.ok{
    background-color: rgb(181, 173, 189);
}
*{
    margin: 20px;
    
}
div{
   border: 5px solid yellow; 
   box-shadow: 10px 20px 30px blueviolet;
   padding: 20px;
}
#all{
 background-image:url(../assets/19.22.06_07889cc5.jpg) ;
 
background-repeat: no-repeat; 
 background-size:200px ;
 background-position: top right;
 background-color: black;
 color: chartreuse;
}
#hobeni{
background-image:url(../assets/nature.jpg) ;
background-repeat: no-repeat;
background-size: 100px;
background-position:bottom right ;
}
div{
    color: rgb(161, 4, 46);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
.not{
    background-color: rgb(53, 152, 161);
}
#back{
    background-color: rgb(108, 149, 211);
}
.hoi{
    background-color:pink ;
}
#koi{
    background-color: rgb(20, 180, 20);
}

